services:
  redis:
    container_name: "test-redis"
    image: redis
    volumes:
      - "./database/redis:/var/lib/redis/data:rw"
    ports:
      - "6379:6379"
    restart: unless-stopped

  db:
    container_name: "test-db"
    image: postgres:12.4-alpine
    volumes:
      - "./database/postgres:/var/lib/postgresql/data:rw"
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: "postgres"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
    restart: unless-stopped

  clickhouse:
    container_name: "clickhouse"
    image: clickhouse/clickhouse-server:latest
    ports:
      - "8123:8123"
      - "9000:9000"
      # - "9009:9009"
    volumes:
      - ./database/clickhouse/data:/var/lib/clickhouse
      - ./database/clickhouse/logs:/var/log/clickhouse-server
      # - ./configs/config.d:/etc/clickhouse-server/config.d
      # - ./configs/users.d:/etc/clickhouse-server/users.d
      # - ./database/clickhouse/initdb:/docker-entrypoint-initdb.d
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    environment:
      CLICKHOUSE_DB: default
      CLICKHOUSE_USER: default
      CLICKHOUSE_PASSWORD: password
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: 1
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "clickhouse-client", "--query", "SELECT 1"]
      interval: 30s
      timeout: 10s
      retries: 3
