services:
  redis:
    container_name: "nazrein-dev-redis"
    image: redis:7.2.4
    volumes:
      - redis_nazrein_data:/var/lib/redis/data
    ports:
      - "6379:6379"
    restart: unless-stopped

  # db:
  #   container_name: "nazrein-dev-db"
  #   image: postgres:16.2
  #   volumes:
  #     - pg_nazrein_data:/var/lib/postgresql/data
  #   ports:
  #     - "5432:5432"
  #   environment:
  #     POSTGRES_DB: "postgres"
  #     POSTGRES_USER: "postgres"
  #     POSTGRES_PASSWORD: "postgres"
  #   restart: unless-stopped

  clickhouse:
    container_name: "nazrein-dev-clickhouse"
    image: clickhouse/clickhouse-server:latest
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - clickhouse_nazrein_data:/var/lib/clickhouse
      - ./config/query_log_ttl.xml:/etc/clickhouse-server/config.d/query_log_ttl.xml
      - ./config/z_log_disable.xml:/etc/clickhouse-server/config.d/z_log_disable.xml
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    environment:
      CLICKHOUSE_DB: default
      CLICKHOUSE_USER: clickhouse
      CLICKHOUSE_PASSWORD: clickhouse
    healthcheck:
      test:
        [
          "CMD",
          "clickhouse-client",
          "-u",
          "clickhouse",
          "--password",
          "clickhouse",
          "--query",
          "SELECT 1",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
    restart: unless-stopped

volumes:
  redis_nazrein_data:
  pg_nazrein_data:
  clickhouse_nazrein_data:
